body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right, #413299, #722394);
}

.container  {
    width: 100%;
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.design {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    bottom: 60px;
    left: 60px;
    background-color: #fff;
}

.design2 {
    position: absolute;
    top: -150px;
    right: -10px;
    height: 300px;
    width: 300px;
    transform: rotate(55deg) !important;
    background-color: #fff;
    border-radius: 10px;
}

.wrapper {
    padding: 20px 30px;
    width: 25%;
    height: 85vh;
    border: 1px solid #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #ffffffe5;
}

.header {
    margin-top: 35px;
}

.header h2 {
    text-align: center;
}

.feedback-form {
    margin-top: 55px;
    width: 90%;
    margin: 0 auto;
}

.feedback-form input {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 3px solid #8b8888;
    margin-top: 25px;
    font-size: 18px;
    background: transparent;
}

.feedback-form input::selection {
    background: transparent;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
    font-size: 15px;
    font-weight: 300;
    color: #b6b1b1;
}

.feedback-form textarea {
    resize: none;
    width: 100%;
    min-height: 100px;
    border: none;
    outline: none;
    border-bottom: 3px solid #8b8888;
    margin-top: 35px;
    font-size: 16px;
    background: transparent;
}

.feedback-form button {
    width: 100%;
    height: 45px;
    color: #fff;
    background-color: aqua;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: linear-gradient(to right, #722394, #413299);
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    transition: display 0.6s ease-in;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .emoji {
    margin: 0;
    font-size: 200px;
    text-align: center;
  }

  .remark {
    margin: 10px 0;
    font-size: 15px;
    text-align: center;
  }